.row {
  color: grey;
  font-size: 18px;
}
.row:nth-child(even) {
  background-color: rgb(235, 209, 162);
}
table {
  width: 800px;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(218, 155, 40, 0.35) 0px 5px 15px;
}
tbody {
  background-color: white;
}
th {
  font-size: 20px;
  padding: 10px;
  color: white;
  font-weight: 400;
  border-bottom: 1px solid white;
  background-color: rgb(240, 169, 39);
}
th:first-child {
  border-radius: 8px 0 0 0;
  border-right: 1px solid white;
}
th:last-child {
  border-radius: 0 8px 0 0;
  border-left: 1px solid white;
}
td {
  padding: 6px;
  text-transform: capitalize;
}
td:first-child {
  border-right: 1px solid lightyellow;
}
td:last-child {
  border-left: 1px solid lightyellow;
}
